body{
    background-color:#FA8072
 }
        
 img{
   display: block;
   margin-left:auto;
   margin-right:auto;
   width:50%;
 }
 .header{
   background-color:#F4A460;
 text-align: center;
 }
 
 .content{
    background-color: #FFDAB9;
 }